body {
    font-family: Futura Medium, Gurmukhi MN, Arial, Microsoft YaHei;
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
    padding: 20px;
    max-width: 700px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    margin: 20px 0 10px;
    padding: 0;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 28px;
    color: #000;
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    border-bottom: 5px solid #ccc;
    border-left: 20px solid #ccc;
    padding-left: 20px;
    padding-bottom: 5px;
    color: #000;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    color: #777;
    font-size: 14px;
}

a {
    color: #4183C4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px;
}

dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
}

pre, code, tt {
    font-size: 12px;
    font-family: Consolas, Courier, Microsoft YaHei;
}

code, tt {
    margin: 0 0;
    padding: 0 0;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px;
}

pre > code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
}

pre {
    background-color: transparent;
    border: 1px solid #ccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 7px;
    border-radius: 3px;
    word-wrap: break-word;
}

pre code, pre tt {
    background-color: transparent;
    border: none;
}

.linenum {
    color: #7F7F7F;
}

kbd {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #DDDDDD;
    background-image: linear-gradient(#F1F1F1, #DDDDDD);
    background-repeat: repeat-x;
    border-color: #DDDDDD #CCCCCC #CCCCCC #DDDDDD;
    border-image: none;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    font-family: Futura Medium, Gurmukhi MN, Arial, Microsoft YaHei;
    line-height: 10px;
    padding: 1px 4px;
}

hr {
    clear: both;
    margin: 15px 0;
    height: 0px;
    overflow: hidden;
    border: none;
    background: transparent;
    border-bottom: 4px solid #ddd;
    padding: 0;
}

table {
    margin: 0 auto;
    text-align: center;
}

table th {
    font-weight: bold;
    background-color: #E6EDF5
}

table th, table td {
    padding: 6px 13px;
}

table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
}

table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

div img {
    max-width: 100%;
    border: 1px solid #ccc;
    overflow: auto;
    border-radius: 3px;
    box-shadow: #aaa 0px 0px 7px;
}

div.image {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
}

h2 {
    counter-increment: h2counter;
    counter-reset: h3counter;
}

h3 {
    counter-increment: h3counter;
    counter-reset: h4counter;
}

h4 {
    counter-increment: h4counter;
    counter-reset: h5counter;
}

h5 {
    counter-increment: h5counter;
}

h2:before {
    content: counter(h2counter)'  ';
}

h3:before {
    content: counter(h2counter)'.'counter(h3counter)'  ';
}

h4:before {
    content: counter(h2counter)'.'counter(h3counter)'.'counter(h4counter)'  ';
}

h5:before {
    content: counter(h2counter)'.'counter(h3counter)'.'counter(h4counter)'.'counter(h5counter)'  ';
}
